# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Editor.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Program Files (x86)\Emacs\jeu vidéo epita\PluggedLight\PluggedLight\New Unity Project\Assets\Photon\PhotonUnityNetworking\Code\Editor\.idea\.idea.Editor.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
